.btn {
  &_carrito {
    position: fixed;
    bottom: 50px;
    right: 15px;
    height: 54px !important;
    width: 54px !important;
    background-color: var(--primary-color) !important;
    border: none !important;
  }
}
