.btn {
  &_carrito {
    position: fixed;
    bottom: 50px;
    right: 15px;
    height: 54px !important;
    width: 54px !important;
    background-color: var(--primary-color) !important;
    border: none !important;
    &:hover {
      box-shadow: 1px 1px 20px 5px rgb(0 0 0 / 25%);
    }
  }
}

.dot {
  position: absolute;
  top: 0px;
  right: 0px;
  transition: all 0.3s ease-in-out;
  &_numProductos {
    height: 18px;
    width: 18px;
    background-color: #e50112;
    font-size: 12px;
    font-weight: 700;
    transition: all 0.3s ease;
  }
}
