.footer {
  background-color: var(--bs-black);
  padding: 20px;
  @media (max-width: 768px) {
    & {
      padding: 5px !important;
    }
  }

  &__description {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    @media (max-width: 768px) {
      & {
        margin-bottom: 10px;
      }
    }
    &-image {
      height: 50px;
      width: 50px;
      margin-left: 10px;
      @media (max-width: 768px) {
        & {
          height: 24px;
          width: 24px;
          margin-left: 5px;
        }
      }
    }
    &-item {
      display: flex;
      flex-direction: column;
      &-title {
        text-transform: uppercase;
        font-size: 0.8rem;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
        @media (max-width: 768px) {
          & {
            font-size: 0.5rem;
          }
        }
      }
      &-subtitle > a {
        color: white;
        font-weight: 300;
        font-size: 0.7rem;
        @media (max-width: 768px) {
          & {
            font-size: 0.4rem;
          }
        }
      }
    }
    &-redes {
      &-icon {
        padding-left: 5px;
        padding-right: 5px;
        color: var(--bs-primary);
        @media (max-width: 768px) {
          & {
            font-size: 0.4rem;
          }
        }
      }
    }
  }
}
